%ul.messages
  %li.message
    %p.message__name
      = message.user.name
    %p.message__date
      = message.created_at
    %p.message-text
      = message.body
    .image_present
      - if message.image.present?
        = image_tag message.image.url, class: 'message-image' if message.image.present?
